<html>
    <body>
        <h2>welcome advisor</h2>
        <p>select your action</p>

        <form action= '/advisor_page' method = 'post'>
            <label>
                <input type="radio" name="option" value="option1" required>
                Upload Relevant Documents
            </label>

            <label>
                <input type="radio" name="option" value="option2" required>
                View Students
            </label>

            <input type="submit">



        </form>
    </body>
</html>