<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
</head>
<body>
    <h2>Select Your Role</h2>
    
    <form method="POST">
        <label>
            <input type="radio" name="role" value="student" required>
            Student
        </label>
        
        <label>
            <input type="radio" name="role" value="advisor" required>
            Advisor
        </label>
        
        <br><br>
        
        <input type = 'submit'>
    </form>
</body>
</html>

