<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1">
        <title>Self-Service Resource Tab</title>
        <body>
            <h1>Student Self-Service Resources</h1>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer commodo tristique pellentesque. Sed pellentesque, nisi in vulputate molestie, neque nunc aliquam massa, nec bibendum orci nunc a urna. 
                Proin rhoncus lobortis dui nec feugiat. Sed at mi felis. Proin mi quam, blandit eu feugiat nec, ultrices id metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                Proin non tortor viverra turpis cursus interdum a ac ante. Suspendisse quis libero ac justo dictum ultrices nec nec dolor. Mauris ornare, dolor ut varius pellentesque, mi nulla imperdiet elit, id mollis elit nisl eget enim. 
                Nunc vulputate felis at quam congue viverra. Suspendisse tincidunt nisi ut enim fringilla euismod. Maecenas finibus elementum maximus.
            </p>
                Praesent dolor diam, posuere id scelerisque congue, convallis ut nisi. Fusce porta lacus quis ipsum malesuada aliquam. 
                Vivamus egestas ante nec velit sagittis posuere. Phasellus eget semper tortor, non faucibus quam. Duis euismod sit amet magna sit amet malesuada. 
                In at vulputate lacus. Nullam accumsan vulputate felis, ac maximus urna tempor sed. Ut nulla metus, euismod ut dui nec, tempor pharetra sem.
            <p>

            </p>
        </body>
    </head>
</html>