<html>
    <body>
        <h2>welcome advisor</h2>
        <p>select your action</p>

        <form action= '/student_page' method = 'post'>
            <label>
                <input type="radio" name="action" value="action1" required>
                Enter information about my classes
            </label>

            <label>
                <input type="radio" name="action" value="action2" required>
                Action2
            </label>

            <input type="submit">



        </form>
    </body>
</html>