<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Location Tab</title>
        <body>
            <h1>Student Location A </h1>
            
            <img src="https://placehold.co/900x400" border="10">
            <br>

            <ul>
                <li><b>Monday</b></li>
                    <ul>
                        <li>9:00am - 11:00pm</li>
                    </ul>
                <li><b>Tuesday</b></li>
                    <ul>
                        <li>9:00am - 11:00pm</li>
                    </ul>
                <li><b>Wednesday</b></li>
                    <ul>
                        <li>9:00am - 11:00pm</li>
                    </ul>
                <li><b>Thursday</b></li>
                    <ul>
                        <li>9:00am - 11:00pm</li>
                    </ul>
                <li><b>Friday</b></li>
                    <ul>
                        <li>9:00am - 11:00pm</li>
                    </ul>
                <li><b>Saturday</b></li>
                    <ul>
                        <li>11:00am - 6:00pm</li>
                    </ul>
                <li><b>Sunday</b></li>
                    <ul>
                        <li>Closed</li>
                    </ul>      
            </ul>
        </body>
    </head>
</html>
